.Artwork {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.Title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Title > h1 {
    display: flex;
    margin: 0;
}
.Markdown {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #868e96;
    padding-bottom: 10px;
    padding-top: 10px;
}
.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #868e96;
    padding-bottom: 10px;
    padding-top: 10px;
}
.Content > img {
    display: flex;
    margin-bottom: 10px;
    max-width: 100%;
}